.section5 {
  display: flex;
  padding: 30px 5%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section5>div {
  flex-grow: 1;
}

.section5-left {
  flex-basis: 55%;
  margin-right: 5%;
  direction: rtl;
  color: #505050;
}
.section5-left h2 {
  font-size: 38px;
  font-weight: bold;
  color: #1f1f1f;
  margin: 0 0 15px;
  text-align: right;
}
.section5-left h3 {
  margin: 15px 0;
}
.section5-left p {
  font-size: 18px;

  margin: 0 0 15px;
}
.green-bean-form {
  position: relative;
  flex-basis: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 35px 15px 35px 270px;
  background: url(./images/banner_01.png) no-repeat center;
  background-size: auto;
  background-size: cover;
  color: #6ac619;
  font-size: 18px;
}
.green-bean-form span {
  display: block;
}
.green-bean-form h4 {
  font-size: 32px;
  display: block;
}
.green-bean-form > img {
  position: absolute;
  z-index: 1;
  left: -10px;
  top: 20px;
}
.section5-right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  direction: rtl;
}
.section5-right>div {
  flex-grow: 1;
}
.section5-right-woman {
  display: flex;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: rgb(43, 46, 38);
  background: linear-gradient(
    135deg,
    rgba(43, 46, 38, 1) 0%,
    rgba(153, 171, 138, 1) 100%
  );
}
.section5-right-woman > img {
  position: absolute;
  z-index: 1;
  left: -70px;
  bottom: 0px;
}
.section5-right-woman > div {
  flex-basis: 45%;  
  padding: 15px 15px 15px 30px;
  position: relative;
  z-index: 5;
}
.section5-right-woman > div > h3 {
  font-size: 36px;
  font-weight: 300;
  color: #e3e6d8;
}
.section5-right-woman > div > h2 {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  color: #5cb815;
}
.section5-right-woman > div > h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color: #2a500d;
  padding: 7px 10px;
  margin: 10px 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #6ac619;
}
.section5-right-woman > div > p {
  font-size: 14px;
  color: #f5f5f5;
  margin: 0;
  background: #2a500d8f;
  padding: 5px;
  border-radius: 5px;
}

.section5-right-bg {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: url(./images/bg_everyday_bottom.png) no-repeat center;
  background-size: cover;
}

.section5-right-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section5-right-titles > div {
  flex-grow: 1;
  flex-basis: 49%;
  margin: 0 1% 1% 0;
  padding: 10px 5px;
  position: relative;
  display: flex;
  align-items: center;
  direction: rtl;
  border-radius: 3px;
  background: rgb(46, 59, 38);
  background: linear-gradient(
    45deg,
    rgba(46, 59, 38, 0.7) 0%,
    rgba(33, 41, 28, 0.7) 100%
  );
}
.section5-right-titles > div > p {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #7acf1a;
  padding-right: 10px;
  margin: 0;
}
.section5-right-titles > div > img {
  padding: 12px;
  border-radius: 50%;
  background: #7cbb24;
}

.section5-right-prod {
  display: flex;
  padding: 30px;
}
.section5-right-prod-price {
  flex-basis: 50%;
  text-align: center;
}
.section5-right-prod-price > .order-button-form {
  width: 130px !important;
  font-size: 27px !important;
}
.section5-right-prod-price > p {
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
}
.section5-right-prod-img {
  flex-basis: 50%;
  position: relative;
  min-width: 120px;
}
.section5-right-prod-img > img {
  position: absolute;
  left: -15px;
  bottom: 0px;
  width: 100%;
  max-width: 190px;
  
}


@media screen and (max-width: 639px){
  .section5-left{
    margin: 0;
  }
  
  .green-bean-form {
    text-align: center;
    padding: 35px 15px 35px 15px;
    background: url(./images/banner_01.png) no-repeat center;
    background-size: auto;
    background-size: cover;
    color: #6ac619;
    font-size: 18px;
  }
  .green-bean-form > img {
    visibility: hidden;
  }

}