.mCarousel-bg {
  background: linear-gradient(
    to bottom,
    #1f1f1f 0%,
    #1f1f1f 60%,
    #ffffff 60%,
    #1f1f1f 60%,
    #ffffff 60%,
    #ffffff 100%
  );
  padding: 40px 5%;
}
.mCarousel-item{
  margin:auto;
  position: relative;
}
.mCarousel-item-phone{
}
.mCarousel-item-coms{
  overflow: auto;
  width: 227px;
  height: 311px;
  background: red;
  position: absolute;
  left: 29px;
  top: 118px;
}
.mCarousel-item-coms>img{
width: 100%;
}